.assignment-dropdown{
  margin-top: 0.5rem;
}

.button.play {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  border-width: 17px 0px 17px 34px;
  border-color: transparent transparent transparent #202020;
  position: absolute;
  bottom: 5px;
  margin-left: 28px;
  transition: 100ms all ease-in-out;
}

.button.pause{
  width: 14px;
  height: 36px;
  border-style: solid;
  border-width: 0px 17px 0px 17px;
  position: absolute;
  margin-left: 28px;
  bottom: 5px;
  border-color: #202020;
  transition: 100ms all ease-in-out;
}

.card-footer {
  background-color: white !important;
}

.play-pause {
  margin-top: -40px;
} 

.priority-stars{
  bottom: -5px;
  margin-left: 166px;
  position: absolute;
}

.assignment-dropdown button{
  width: 220px;
  margin-top: 10px;
  border-radius: 15px;
}

.manage-workers {
  display: flex;
  margin-top: 10px;
}

.add-worker {
  border-radius: 15px;
  margin-right: 11px;
}

.minus-worker {
  border-radius: 15px;
  margin-left: 11px;
}

.material-icons {
  float: left;
  background: transparent;
  border: transparent;
}

.date-picker {
  /* margin-left: 21px; */
}

.react-datepicker__time-container {
  border-left: 0!important;
  width: 100%!important;
  border-top: 1px solid #aeaeae!important;
} 

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: -30px!important;
  top: 0;
}

.assignment-dropdown button {
  width:inherit;
}

.react-datepicker__navigation--previous {
  left: -40px!important;
  border-right-color: #ccc;
  top: 0!important;
}