body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card {
  width: 15rem;
  transform: scale(1);
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}

.cards {
  position: center;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4 1.9rem;
}

.container-fluid .row {
  padding-top: 6rem;
}

.card:hover {
  transform: scale(1.2);
}

.play-pause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  cursor: pointer;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  will-change: border-width;
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.play-pause input[type='checkbox'] {
  visibility: hidden;
}
.play-pause input[type='checkbox']:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}