.card {
  /* width: 100%; */
  /* transform: scale(1); */
  background-color: transparent;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
  transform: scale(1.05);

}

.cards {
  position: center;
}

.card-body {
  padding: 1rem 1rem 6rem 10px !important;
  padding-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4 1.9rem;
}

.cardBlur {
  filter: blur(5px);
  transition: all .5s linear;
}