body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  }

  .searchbar{
  margin-top: 2%;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }

  .burgermenu-container {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
  }

 
 a
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: tomato;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 7px;
   left: 100px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; 
   z-index: 2; 
   -webkit-touch-callout: none;
 }
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #000;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu
 {
   position: absolute;
   width: 250px;
   margin: -120px 0 0 -80px;
   padding: 50px;
   padding-top: 125px;
   background: transparent;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   color: #000;
 }
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

  .settings-container {
    width: 35px;
    height: 35px;
    display: block;
    float: right;
  }

  .dot{
    width: 6px;
    height: 6px;
    margin-top: 10px;
    margin-left: 12px;
    background-color: black;
  }

  .dot, .dot:before, .dot:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: black;
  }
  
  .dot:before, .dot:after {
    content: "";
  }
  
  .dot:before {
    right: 12px;
    transition: right .2s ease-out;
  }
  
  .dot:after {
    left: 12px;
    transition: left .2s ease-out;
  }
  
  .settings-container:hover .dot:before {
    right: -12px;
  }
  
  .settings-container:hover .dot:after {
    left: -12px;
  }

